<!DOCTYPE html>
{% load mytags %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <style>
        table,th,td{
            border: 2px solid black;
        }
        td{
            padding: 2px 10px 2px 10px;
        }
    
    </style>
    
    <title>Add Data</title>
</head>
<body>
    
    
<form method="POST" enctype="multipart/form-data" action="{% url 'add' %}">
    {% csrf_token %}

    {{authForm.as_p}}
    {{genForm.as_p}}
    {{bkForm.as_p}}

    <input type="submit" style="color: blue;">

</form>

<h3>ALL BOOKS AVAILABLE ARE:</h3>


    {% for key,value in books.items %} 
        {{key}} 

        {% comment %} {% for a,b in value.items %}
        {{a}} : {{b}}
        {% endfor %} {% endcomment %}
        
        <a href="{% url 'update' value|get_by_index:'id' %}">Update</a>
        <a href="{% url 'delete' value|get_by_index:'id' %}">Delete</a>
        <hr>
    {% endfor %}




</body>
</html>